:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #323232;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Inter Tight", sans-serif;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
}

.button-reset {
  border-color: green;
  color: green;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 12px;
}

.button-reset:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: green;
  color: white;
}

button:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(214, 214, 214);
}

.card {
  background-color: #fff;
  color: black;
  padding: 16px 32px;
  border-radius: 16px;
}

.container {
  max-width: 375px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .button-reset {
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
